<html>
    <head>
        <title>
            <%= locals.title%>
            
        </title>
        <link rel="shortcut icon" type="image/jpg" href="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/contact-list-simplicity-icon_Gyh3TaUd_SB_PM.jpg"/>
        <link rel="stylesheet" href="./css/home.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>
    <body>
        
            
        <h1 id="page-heading"><i class="fas fa-address-book"></i>
            MyContactList</h1>
        <center>    
        <div>
            <ul>
                   
                <% for (let i of contact_list) { %> 
                    
                    <li class="contact">
                        <div class="details">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/?phone=<%= i.phone %>">
                        <i class="fas fa-times fa-2x"></i>
                        </a>
                    </div>
                    </li>
                    
                <% } %>
            </ul>
        </div>
        </center>
        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit">Add contact</button>
        </form>
<script src="/js/home.js"></script>
    </body>
</html>