<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <h1>Play with ExpressJs</h1>
        <ul>
            <% for (let i=0;i<6;i++){%>
                <li>
                    <%= i %>
                </li>
            <%}%>
        </ul>
    </body>
</html>