body{
    text-align: center;
    background: linear-gradient(45deg , red,orange,yellow);
}
ul{
    list-style-type:none;
    
}
h1{
    font-family: sans-serif;
    color: rgb(37, 37, 35);
}

#page-heading{
    text-align: center;
}
li{
    background-color: rgb(7, 14, 78);
    max-width: 40%;
    border-radius: 20%;
   padding: 1px 2px 3px 3px;
}
li:hover{
    color: red;
}
.details > p{
    color: rgb(255, 0, 0);
    font-family:sans-serif;
    
    display: inline-block;
    border: .5px solid rgb(255, 4, 4);
    font-size:18px;
}
input{
    /* border: none; */
    width: 14%;
    height: 10%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue
}
button{
    background-color: rgb(221, 221, 221);
    width: 10%;
    height: 10%;
}
.delete-button i {
    color: aqua;
    /* padding-left: 50px; */
    padding-bottom: 10px;
    display: inline-block;
}